html {
    font: 16px/1.5 Arial, Helvetica, sans-serif;
}

body, table, input {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    padding: 0;
    margin: 0 0 0.5em 0;
    line-height: 1.1;
}

h1 {font-size: 2.8em; } /*14px * 2.8 = 39px*/
h2 {font-size: 2.2em; } /*14px * 2.2 = 31px*/
h3 {font-size: 1.8em; } /*14px * 1.8 = 25px*/
h4 {font-size: 1.6em; } /*14px * 1.6 = 22px*/
h5 {font-size: 1.2em; } /*14px * 1.2 = 17px*/
h6 {font-size: 1em; }   /*14px * 1.0 = 14px*/

main article:nth-child(1) {
    font-size: 1.5m
}