
ul {
    list-style: none;
    padding: 0;
    margin: 2em;

}

ul li {
    display: inline-block;
    margin-right: 1em;
}

ul li a {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    text-align: center;
    display: block;
    background-color: #f0f0f0;
    border-radius: 50%;
}

ul li a svg {
    display: block;
    margin: 0.2em;
    width: 1em;
    height: 1em;
}

.facebook:hover,
.twitter:hover,
.linkedin:hover,
.instagram:hover {
    fill: rgb(0, 110, 255);
}

.google:hover {
    fill: rgba(248, 49, 14, 0.849);
}


