* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
    margin: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 16px/1.5 Helvetica, sans-serif;
}

.section {
    display: flex; 
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


.box {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-radius: 0.3em;
    align-items: center;
    max-width: 400px;
    box-shadow: 0 0 0.5em 0.1em rgb(0,0,0,0.5);
    overflow: hidden;
}

.box .media {
    inset: 0;
    overflow: hidden;
}

.box .content {
    display: block;
    padding: 1em;
}

.box .content h2{
    font: 1.5em/1.2 Georgia serif;
    font-weight: bold;
}

.box .content .button {
    /* display: inline-block; */
    text-decoration: none;
    color: white;
    background: rgb(0, 153, 0);
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    float: right;
}

@media (min-width: 1300px) {
    main {
        flex-direction: row;
    }
}

